<!DOCTYPE html>
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="./css/reset.min.css")
        link(rel="stylesheet" href="./css/design.min.css")
        title Portfolio — Autor
    body
        h1 Datenschutzerklärung
        
        section.legal-notices-grid
            section
                
                
    footer
        p 
            strong Copyright 2021
            | &nbsp;&nbsp;|&nbsp;&nbsp;André-Pascal Werthwein

        ul.legal-notices
            li
                a(href="./kontakt.html") Kontakt
            li
                a(href="./impressum.html") Impressum
            li
                a(href="./datenschutz.html") Datenschutzerklärung