<!DOCTYPE html>
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="./css/reset.min.css")
        link(rel="stylesheet" href="./css/design.min.css")
        title Portfolio — Autor
    body

    footer
        section
            ul
                li
                    strong Copyright 2021
                li André-Pascal Werthwein
        
            p#to-the-top-button
                a(href="#top") oben

        ul
            li
                a(href="./kontakt.html") Kontakt
            li
                a(href="./impressum.html") Impressum
            li
                a(href="./datenschutz.html") Datenschutzerklärung
    
    script(src="./js/main.js")