<!DOCTYPE html>
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="./css/reset.min.css")
        link(rel="stylesheet" href="./css/design.min.css")
        title Portfolio — Autor
    body
        h1 Kontakt
        
        section.legal-notices-grid
            section
                h4 Kontakt

                p Diese Website ist mein akademisches, wie auch berufliches Portfolio. Somit haben diese Website, wie auch ihre Unterseiten, keinen gewerblichen Charakter. Demnach habe ich nachfolgend Name und Anschrift des Inhabers&nbsp;
                    span.comment [Diensteanbieters]&nbsp;
                    | — André-Pascal Werthwein — aufgeführt.&nbsp;
                    sup [§1 Abs. 4 TMG, §55 Abs. 1 RstV]

                table.table-contact
                    thead
                    tbody
                        tr
                            td 
                                strong Name:
                            td André-Pascal Werthwein
                                
                        tr
                            td 
                                strong Anschrift:
                            td Nietzschestraße 16,
                                br 
                                | 68165 Mannheim
                                br 
                                | Deutschland
                                
                        tr
                            td
                                strong E-Mail:
                            td
                                address
                                    a.text-anchor(href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#97;&#110;&#100;&#114;&#101;&#119;&#101;&#114;&#116;&#104;&#119;&#101;&#105;&#110;&#46;&#100;&#101;") info[at]
                                        span(style="display: none;") fuck-the-spam-bot
                                        | andrewerthwein.de
                
    footer
        section
            ul
                li
                    strong Copyright 2021
                li André-Pascal Werthwein
        
            p#to-the-top-button
                a(href="#top") oben

        ul
            li
                a(href="./kontakt.html") Kontakt
            li
                a(href="./impressum.html") Impressum
            li
                a(href="./datenschutz.html") Datenschutzerklärung
    
    script(src="./js/main.js")